<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-nav">
                    <div class="footer-nav__section">
                        <a href="#">
                            Услуги
                        </a>
                    </div>
                    <ul class="footer-nav-menu">
                        <li class="footer-nav-menu__item">
                            <a href="#">
                                Терапевтическая<br>
                                стоматология
                            </a>
                        </li>
                        <li class="footer-nav-menu__item">
                            <a href="#">
                                Ортопедическая<br>
                                стоматология
                            </a>
                        </li>
                        <li class="footer-nav-menu__item">
                            <a href="#">
                                Хирургическая<br>
                                стоматология
                            </a>
                        </li>
                        <li class="footer-nav-menu__item">
                            <a href="#">
                                Лазерная<br>
                                стоматология
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-nav">
                    <div class="footer-nav__section">
                        <a href="#">
                            О клинике
                        </a>
                    </div>
                    <ul class="footer-nav-menu">
                        <li class="footer-nav-menu__item">
                            <a href="#">
                                Страховые компании
                            </a>
                        </li>
                        <li class="footer-nav-menu__item">
                            <a href="#">
                                Лицензии
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-nav">
                    <div class="footer-nav__section">
                        <a href="#">
                            Пациентам
                        </a>
                    </div>
                    <ul class="footer-nav-menu">
                        <li class="footer-nav-menu__item">
                            <a href="#">
                                Возмещение<br>
                                затрат на лечение
                            </a>
                        </li>
                        <li class="footer-nav-menu__item">
                            <a href="#">
                                Гарантии
                            </a>
                        </li>
                        <li class="footer-nav-menu__item">
                            <a href="#">
                                Памятка
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-nav">
                    <div class="footer-nav__section">
                        <a href="#">
                            Контакты
                        </a>
                    </div>
                    <ul class="footer-nav-contacts">
                        <li class="footer-nav-contacts__item phone">
                            <a href="#">
                                8 (4912) 955 155
                            </a>
                        </li>
                        <li class="footer-nav-contacts__item address">
                            <i class="fas fa-map-marker-alt"></i>
                            <a href="#">
                                Рязань,<br>
                                Новоселов, 49
                            </a>
                        </li>
                        <li class="footer-nav-contacts__item socials">
                            <a href="http://vk.com/">
                                <i class="fab fa-vk"></i>
                            </a>
                            <a href="#">
                                <i class="glyphicon glyphicon-earphone"></i>
                            </a>
                            <a href="https://instagram.com/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer__description">
                    С уважением, "Ваш дантист" - стоматология Рязань. <br>
                    Возможны противопоказания к применению. Необходима консультация врача.
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>