<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Данин сайт</title>
    <link rel="stylesheet" href="/template/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/template/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/template/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/template/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="/template/css/styles.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/template/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/template/slick/slick.min.js"></script>
    <script type="text/javascript" src="/template/js/script.js"></script>
</head>
<body>
<header>
    <div class="header__bg"></div>
    <div class="header__line"></div>
    <div class="container header-top">
        <div class="row">
            <div class="col-md-2">
                <div class="header-top-logo">
                    <img class="img-responsive" src="../template/img/logo.png" alt="">
                </div>
            </div>
            <div class="col-md-3 header-top-info">
                        <span class="">
                            <a href="#">Рязань, ул.Новоселов, д.49</a>
                        </span>
            </div>
            <div class="col-md-4 header-top-info">
                        <span class="">
                            <a href="phone:+74912955155">
                                +7(4912) 955-155;
                            </a>
                            &nbsp;
                            <a href="phone:+79521207171">
                                +7(952) 120-71-71
                            </a>
                        </span>
            </div>
            <div class="col-md-3 header-top-info">
                        <span class="">
                            <a href="#">Вопрос-ответ</a>
                            <a href="http://vk.com/" class="header-top-info__icon">
                                <i class="fab fa-vk"></i>
                            </a>
                            <a href="#" class="header-top-info__icon">
                                <i class="glyphicon glyphicon-earphone"></i>
                            </a>
                            <a href="https://instagram.com/" class="header-top-info__icon">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="header-top-menu">
                    <div class="row">
                        <nav class="col-md-10 col-md-offset-2">
                            <ul class="header-top-menu__first nav nav-tabs nav-justified">
                                <li class="header-top-menu__item">
                                    <a href="#" class="header-top-menu__link">
                                        О клинике
                                    </a>
                                </li>
                                <li class="header-top-menu__item">
                                    <a href="#" class="header-top-menu__link">
                                        услуги
                                    </a>
                                    <ul class="header-top-menu__second">
                                        <li class="header-top-menu__item">
                                            <a href="" class="header-top-menu__link">
                                                Диагностика
                                            </a>
                                        </li>
                                        <li class="header-top-menu__item">
                                            <a href="" class="header-top-menu__link">
                                                Проодонтология
                                            </a>
                                        </li>
                                        <li class="header-top-menu__item">
                                            <a href="" class="header-top-menu__link">
                                                Эстетика
                                            </a>
                                        </li>
                                        <li class="header-top-menu__item">
                                            <a href="" class="header-top-menu__link">
                                                Ортопедия
                                            </a>
                                        </li>
                                        <li class="header-top-menu__item">
                                            <a href="" class="header-top-menu__link">
                                                Ортодонтия
                                            </a>
                                        </li>
                                        <li class="header-top-menu__item">
                                            <a href="" class="header-top-menu__link">
                                                Хирургия
                                            </a>
                                        </li>
                                        <li class="header-top-menu__item">
                                            <a href="" class="header-top-menu__link">
                                                имплантация
                                            </a>
                                        </li>
                                        <li class="header-top-menu__item">
                                            <a href="" class="header-top-menu__link">
                                                терапия
                                            </a>
                                        </li>
                                        <li class="header-top-menu__item">
                                            <a href="" class="header-top-menu__link">
                                                лазерная Стоматология
                                            </a>
                                        </li>
                                        <li class="header-top-menu__item">
                                            <a href="" class="header-top-menu__link">
                                                отБЕЛИваНИе И гИгИеНа
                                            </a>
                                        </li>
                                        <li class="header-top-menu__item">
                                            <a href="" class="header-top-menu__link">
                                                Лечение беременных
                                            </a>
                                        </li>
                                        <li class="header-top-menu__item">
                                            <a href="" class="header-top-menu__link">
                                                Лечение детей
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header-top-menu__item">
                                    <a href="#" class="header-top-menu__link">
                                        специалисты
                                    </a>
                                </li>
                                <li class="header-top-menu__item">
                                    <a href="#" class="header-top-menu__link">
                                        Цены
                                    </a>
                                </li>
                                <li class="header-top-menu__item">
                                    <a href="#" class="header-top-menu__link">
                                        Отзывы
                                    </a>
                                </li>
                                <li class="header-top-menu__item">
                                    <a href="#" class="header-top-menu__link">
                                        стоматологический туризм
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-top-slider" style="background-image: url('template/img/main-top-bg.png')"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="btn header-top-slider__btn" href="#">
                    Записаться на прием
                </a>
            </div>
        </div>
    </div>
</header>