@font-face {
  font-family: 'ClinicaPro';
  src: url("fonts/clinicapro-regular.eot");
  src: url("fonts/clinicapro-regular.eot?iefix") format("eot"), url("fonts/clinicapro-regular.woff") format("woff"), url("fonts/clinicapro-regular.ttf") format("truetype"), url("fonts/clinicapro-regular.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal; }
html,
body {
  height: 100%; }

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ClinicaPro' !important; }

h1 {
  width: 100%;
  margin: 50px 0 25px;
  text-align: center;
  font-size: 32px !important;
  color: #4b7db6; }

.fl-l {
  float: left; }
.fl-r {
  float: right; }

.al-l {
  text-align: left; }
.al-r {
  text-align: right; }

.cb {
  clear: both; }

.title-logo {
  display: block;
  margin: 0 auto;
  width: 200px; }

header {
  position: relative; }

.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 86px;
  background-image: url("img/top-background.png");
  z-index: 1; }
.header__line {
  position: absolute;
  top: 84px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000000;
  opacity: 0.3;
  z-index: 1; }
.header-top {
  position: relative;
  padding-top: 40px;
  padding-bottom: 17px;
  font-size: 18px;
  z-index: 1;
  text-align: right; }
  @media (max-width: 1319px) {
    .header-top {
      font-size: 16px; } }
  @media (max-width: 1091px) {
    .header-top {
      font-size: 14px; } }
  .header-top-logo {
    position: absolute;
    z-index: 10;
    top: -37px;
    left: -27px; }
  .header-top-info {
    margin-right: -30px;
    margin-left: -30px; }
    .header-top-info-item {
      margin-bottom: 16px; }
      .header-top-info-item a {
        color: #494949;
        text-decoration: none;
        margin-right: 5px; }
        .header-top-info-item a:active, .header-top-info-item a:visited {
          color: #494949;
          text-decoration: none; }
        .header-top-info-item a:hover {
          color: #212020;
          text-decoration: none; }
        .header-top-info-item a:last-of-type {
          margin-right: 0; }
      .header-top-info-item__icon > i {
        font-size: 22px;
        color: #4b7db6; }
  .header-top-menu {
    display: block;
    background-color: rgba(75, 125, 182, 0.9);
    margin-right: -15px;
    margin-left: -15px; }
    .header-top-menu__first {
      font-size: 17px; }
      @media (max-width: 1319px) {
        .header-top-menu__first {
          font-size: 16px; } }
      @media (max-width: 1091px) {
        .header-top-menu__first {
          font-size: 13px; } }
      .header-top-menu__first .header-top-menu__item {
        display: inline-block;
        position: relative;
        border-bottom: none !important; }
        .header-top-menu__first .header-top-menu__item:hover .header-top-menu__second {
          display: block; }
        .header-top-menu__first .header-top-menu__item > a {
          border-bottom: none !important;
          border-radius: 0 !important; }
          .header-top-menu__first .header-top-menu__item > a:hover, .header-top-menu__first .header-top-menu__item > a:active, .header-top-menu__first .header-top-menu__item > a:visited {
            border-bottom: none !important;
            border-radius: 0 !important; }
      .header-top-menu__first .header-top-menu__link {
        border: none !important; }
        .header-top-menu__first .header-top-menu__link:hover {
          border-bottom: none;
          border-radius: 0;
          background-color: transparent; }
    .header-top-menu__second {
      display: none;
      position: absolute;
      top: 68px;
      left: 0;
      background-color: rgba(75, 125, 182, 0.9);
      text-align: left;
      padding: 0;
      font-size: 12px; }
      @media (max-width: 1319px) {
        .header-top-menu__second {
          top: 66px; } }
      @media (max-width: 1091px) {
        .header-top-menu__second {
          top: 57px; } }
      .header-top-menu__second .header-top-menu__item {
        display: block;
        padding: 5px 10px; }
      .header-top-menu__second .header-top-menu__link {
        white-space: nowrap; }
    .header-top-menu__item {
      list-style: none; }
    .header-top-menu__link {
      color: #ffffff !important;
      text-transform: capitalize; }
      .header-top-menu__link:hover {
        text-decoration: none; }
  .header-top-slider {
    position: relative;
    width: 100%;
    height: 480px;
    margin-top: -170px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid #4b7db6;
    z-index: 0; }
    .header-top-slider__btn {
      margin-top: -100px;
      float: right;
      background-color: #dec548;
      border: 2px solid #ffffff;
      color: #ffffff;
      border-radius: 0;
      opacity: 0.8;
      padding: 15px 30px;
      font-size: 20px; }
      .header-top-slider__btn:hover, .header-top-slider__btn:active, .header-top-slider__btn:visited {
        color: #ffffff; }

footer {
  color: #ffffff;
  background-color: #4b7db6; }

.footer-nav {
  padding: 15px 0; }
  .footer-nav__section {
    font-size: 38px; }
    .footer-nav__section a {
      color: #a0c8f7; }
  .footer-nav-contacts, .footer-nav-menu {
    padding: 0; }
    .footer-nav-contacts__item, .footer-nav-menu__item {
      display: block;
      list-style: none;
      padding: 0 25px 0 0;
      margin: 0 0 10px 0;
      font-size: 17px;
      position: relative; }
      .footer-nav-contacts__item a, .footer-nav-menu__item a {
        color: #ffffff;
        text-decoration: none; }
        .footer-nav-contacts__item a:hover, .footer-nav-contacts__item a:active, .footer-nav-contacts__item a:visited, .footer-nav-menu__item a:hover, .footer-nav-menu__item a:active, .footer-nav-menu__item a:visited {
          color: #ffffff;
          text-decoration: none; }
      .footer-nav-contacts__item.address i, .footer-nav-menu__item.address i {
        font-size: 30px;
        position: absolute;
        top: 6px;
        left: 3px; }
      .footer-nav-contacts__item.address a, .footer-nav-menu__item.address a {
        padding-left: 30px;
        display: inline-block; }
      .footer-nav-contacts__item.socials, .footer-nav-menu__item.socials {
        margin-left: 35px; }
        .footer-nav-contacts__item.socials a, .footer-nav-menu__item.socials a {
          font-size: 30px; }
.footer__description {
  padding: 15px 0;
  border-top: 1px solid #ffffff;
  font-size: 16px;
  text-align: center; }

.main-services-title {
  text-align: center;
  position: relative;
  margin: 10px 0 50px; }
  .main-services-title-bg-line {
    width: 100%;
    height: 5px;
    background-color: #4b7db6;
    border-top: 1px solid #93b1d3;
    border-bottom: 1px solid #93b1d3;
    position: absolute;
    top: 13px;
    z-index: 1; }
  .main-services-title-bg-delimiter-outer, .main-services-title-bg-delimiter-inner {
    position: relative;
    display: inline-block;
    border-left: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    z-index: 2; }
  .main-services-title-bg-delimiter-outer {
    padding: 0 50px; }
  .main-services-title-bg-delimiter-inner {
    padding: 0 5px; }
  .main-services-title-text {
    display: inline-block;
    position: relative;
    font-size: 28px;
    text-transform: uppercase;
    color: #5d5c5a;
    margin: 0;
    padding: 0 30px;
    background-color: #ffffff;
    z-index: 10; }
.main-services-row {
  margin: 0 0 5px; }
.main-services-items {
  margin-bottom: 20px; }
.main-services-item {
  text-align: center; }
  .main-services-item-link {
    display: inline-block;
    text-align: center;
    color: #5d5c5a;
    text-decoration: none; }
    .main-services-item-link:hover, .main-services-item-link:active, .main-services-item-link:visited {
      color: #5d5c5a;
      text-decoration: none; }
  .main-services-item-img {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .main-services-item-name {
    display: block;
    font-size: 18px; }
.main-slider {
  width: 100%;
  height: 535px;
  position: relative;
  margin-bottom: 40px; }
  .main-slider-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 535px;
    background-image: url("img/back_photo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .main-slider-container {
    padding: 60px 0 0; }
  .main-slider-nav {
    border: 1px solid #4b7db6 !important; }
    .main-slider-nav-item > a {
      color: #5d5c5a;
      font-size: 22px;
      padding: 25px 0 !important;
      border: none !important; }
      .main-slider-nav-item > a:hover, .main-slider-nav-item > a:active, .main-slider-nav-item > a:visited {
        background-color: transparent !important; }
    .main-slider-nav-item.active > a {
      color: #ffffff !important;
      background-color: #4b7db6 !important;
      border-radius: 0 !important; }
  .main-slider-body {
    width: 100%;
    height: 310px;
    background-color: #d4d6d5;
    position: relative; }
  .main-slider-carousel {
    margin-top: 51px;
    position: absolute;
    width: 100%; }
    .main-slider-carousel .item {
      margin: 0 25px 0; }
    .main-slider-carousel .slick-dots {
      bottom: 5px; }
      .main-slider-carousel .slick-dots li {
        width: 5px;
        height: 10px;
        margin: 0 3px; }
.main-advantages-items {
  margin-bottom: 110px; }
.main-advantages-item {
  text-align: center; }
  .main-advantages-item-img {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .main-advantages-item-descr {
    display: block;
    font-size: 19px;
    color: #4b7db6; }

.content-page {
  font-size: 18px;
  margin-bottom: 50px; }
  .content-page__title {
    text-align: center;
    margin: 50px 0 20px; }
  .content-page p {
    font-size: 18px;
    text-indent: 20px;
    margin: 0 0 25px; }
  .content-page span {
    font-size: 14px; }
  .content-page h1,
  .content-page h2,
  .content-page h3,
  .content-page h4 {
    text-align: center; }
  .content-page table tr th,
  .content-page table tr td {
    border: 2px solid #4b7db6;
    padding: 10px; }

.service table.price {
  border-spacing: 0; }
  .service table.price tr {
    border-bottom: 2px dotted #4b7db6; }
    .service table.price tr td {
      padding: 10px; }
      .service table.price tr td:first-of-type {
        text-align: left; }
      .service table.price tr td:last-of-type {
        text-align: right;
        color: #4b7db6; }

.worker-slider {
  margin-bottom: 30px; }
  .worker-slider-for {
    display: inline-block;
    overflow: hidden; }
    .worker-slider-for-item {
      width: 250px;
      height: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .worker-slider-for-item:focus {
        border: none; }
      .worker-slider-for-item img {
        width: 100%; }
  .worker-slider-nav {
    overflow: hidden; }
    .worker-slider-nav-item {
      display: inline-block;
      width: 135px;
      height: 135px !important;
      margin: 0 25px 25px 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
.worker-info {
  margin-bottom: 50px; }
  .worker-info__name {
    font-size: 24px;
    color: #4b7db6; }
  .worker-info-field {
    color: #777676;
    margin-bottom: 10px; }
    .worker-info-field__name {
      font-size: 14px;
      font-weight: bold;
      margin: 0; }
    .worker-info-field__text {
      font-size: 18px;
      margin: 0; }
.workers {
  margin-bottom: 50px; }
  .workers-list {
    margin-bottom: 25px; }
    .workers-list div:nth-of-type(2n+1) .workers-item-slider {
      float: left; }
    .workers-list div:nth-of-type(2n) .workers-item-slider {
      float: right; }
  .workers-title {
    width: 100%;
    margin: 0 0 25px;
    text-align: center;
    font-size: 32px !important;
    color: #4b7db6; }
  .workers-item-slider {
    margin-bottom: 30px;
    min-width: 349px; }
    .workers-item-slider-for {
      display: inline-block;
      width: 250px;
      height: 250px;
      overflow: hidden;
      margin: 0 15px 15px 0; }
      .workers-item-slider-for-item {
        width: 250px;
        height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
        .workers-item-slider-for-item:focus {
          border: none; }
    .workers-item-slider-nav {
      display: inline-block;
      width: 80px;
      max-height: 250px;
      overflow: hidden;
      margin: 0 0 15px 0; }
      .workers-item-slider-nav-item {
        width: 80px;
        height: 80px !important;
        margin-bottom: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
    .workers-item-slider-title a {
      font-size: 18px;
      color: #494949; }
      .workers-item-slider-title a:hover, .workers-item-slider-title a:active, .workers-item-slider-title a:visited {
        color: #494949; }

.reviews__title {
  font-size: 30px;
  margin-bottom: 30px; }
.reviews-list {
  margin-bottom: 50px; }
  .reviews-list.load {
    height: 200px;
    text-align: center;
    background-image: url("img/loading.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px; }
  .reviews-list-item {
    margin-bottom: 50px; }
    .reviews-list-item__name {
      font-size: 24px;
      margin-bottom: 0; }
    .reviews-list-item__about {
      font-size: 24px; }
      .reviews-list-item__about span {
        color: #4b7db6; }
    .reviews-list-item__text, .reviews-list-item__min-text {
      font-size: 18px; }
    .reviews-list-item__more {
      font-size: 18px; }

/*# sourceMappingURL=style.css.map */
