@import "variables/import";

.main {

    &-services {

        &-title {
            text-align: center;
            position: relative;
            margin: 0 0 50px;

            &-bg {

                &-line {
                    width: 100%;
                    height: 5px;
                    background-color: $color_first;
                    border-top: 1px solid $color_first_lightest;
                    border-bottom: 1px solid $color_first_lightest;

                    position: absolute;
                    top: 13px;
                    z-index: 1;
                }

                &-delimiter {

                    &-outer,
                    &-inner {
                        position: relative;
                        display: inline-block;
                        border-left: 5px solid $color_third;
                        border-right: 5px solid $color_third;
                        z-index: 2;
                    }

                    &-outer {
                        padding: 0 50px;
                    }

                    &-inner {
                        padding: 0 5px;
                    }
                }
            }

            &-text {
                display: inline-block;
                position: relative;
                font-size: 28px;
                text-transform: uppercase;
                color: $color_text_third;
                margin: 0;
                padding: 0 30px;
                background-color: $color_third;
                z-index: 10
            }
        }

        &-row {
            margin: 0 0 5px;
        }

        &-items {
            margin-bottom: 20px;
        }

        &-item {
            text-align: center;

            &-link {
                display: inline-block;
                text-align: center;
                color: $color_text_third;
                text-decoration: none;

                &:hover,
                &:active,
                &:visited {
                    color: $color_text_third;
                    text-decoration: none;
                }
            }

            &-img {
                display: inline-block;
                width: 70px;
                height: 70px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            &-name {
                display: block;
                font-size: 18px;

            }
        }
    }

    &-slider {
        width: 100%;
        height: 535px;
        position: relative;
        margin-bottom: 40px;

        &-back {
            position: absolute;
            top: 0;
            width: 100%;
            height: 535px;
            background-image: url("../img/back_photo.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        &-container {
            padding: 60px 0 0;
        }

        &-nav {
            border: 1px solid $color_first !important;
            //border-bottom: 1px solid $color_first;

            &-item {

                &>a {
                    color: $color_text_third;
                    font-size: 22px;
                    padding: 25px 0 !important;
                    border: none !important;

                    &:hover,
                    &:active,
                    &:visited {
                        background-color: transparent !important;
                    }
                }

                &.active {

                    &>a {
                        color: $color_third !important;
                        background-color: $color_first !important;
                        border-radius: 0 !important;
                    }
                }
            }
        }

        &-body {
            width: 100%;
            height: 310px;
            background-color: #d4d6d5;
            position: relative;
        }

        &-carousel {
            margin-top: 51px;
            position: absolute;
            width: 100%;

            .item {
                margin: 0 25px 0;
            }

            .slick-dots {
                bottom: 5px;

                li {
                    width: 5px;
                    height: 10px;
                    margin: 0 3px;
                }
            }
        }
    }

    &-advantages {

        &-items {
            margin-bottom: 110px;
        }

        &-item {
            text-align: center;

            &-img {
                display: inline-block;
                width: 300px;
                height: 300px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            &-descr {
                display: block;
                font-size: 19px;
                color: $color_first;
            }
        }
    }
}