@font-face {
  font-family: 'ClinicaPro';
  src: url("../fonts/clinicapro-regular.eot");
  src: url("../fonts/clinicapro-regular.eot?iefix") format("eot"), url("../fonts/clinicapro-regular.woff") format("woff"), url("../fonts/clinicapro-regular.ttf") format("truetype"), url("../fonts/clinicapro-regular.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal; }
html,
body {
  height: 100%;
  font-family: 'ClinicaPro'; }

.fl-l {
  float: left; }
.fl-r {
  float: right; }

.al-l {
  text-align: left; }
.al-r {
  text-align: right; }

header {
  position: relative; }

.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 86px;
  background-image: url("../img/top-background.png");
  z-index: 1; }
.header__line {
  position: absolute;
  top: 84px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000000;
  opacity: 0.3;
  z-index: 1; }
.header-top {
  position: relative;
  padding-top: 40px;
  padding-bottom: 17px;
  font-size: 18px;
  z-index: 1;
  text-align: right; }
  .header-top-logo {
    position: absolute;
    z-index: 10;
    top: -37px;
    left: -27px; }
  .header-top-info {
    margin-bottom: 20px; }
    .header-top-info a {
      color: #494949;
      text-decoration: none; }
      .header-top-info a:active, .header-top-info a:visited {
        color: #494949;
        text-decoration: none; }
      .header-top-info a:hover {
        color: #212020;
        text-decoration: none; }
    .header-top-info__icon .vk {
      background-image: url("../images/vk.svg"); }
  .header-top-menu {
    display: block;
    background-color: rgba(75, 125, 182, 0.9); }
    .header-top-menu__first {
      font-size: 17px; }
      .header-top-menu__first .header-top-menu__item {
        display: inline-block;
        position: relative;
        border-bottom: none !important; }
        .header-top-menu__first .header-top-menu__item:hover .header-top-menu__second {
          display: block; }
      .header-top-menu__first .header-top-menu__link {
        border: none !important; }
        .header-top-menu__first .header-top-menu__link:hover {
          border-bottom: none;
          border-radius: 0;
          background-color: transparent; }
    .header-top-menu__second {
      display: none;
      position: absolute;
      top: 68px;
      left: 0;
      background-color: rgba(75, 125, 182, 0.9);
      text-align: left;
      padding: 0;
      font-size: 12px; }
      .header-top-menu__second .header-top-menu__item {
        display: block;
        padding: 5px 10px; }
      .header-top-menu__second .header-top-menu__link {
        white-space: nowrap; }
    .header-top-menu__item {
      list-style: none; }
    .header-top-menu__link {
      color: #ffffff !important;
      text-transform: capitalize; }
      .header-top-menu__link:hover {
        text-decoration: none; }
  .header-top-slider {
    position: relative;
    width: 100%;
    height: 480px;
    margin-top: -170px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid #4b7db6;
    z-index: 0; }
    .header-top-slider__btn {
      margin-top: -100px;
      float: right;
      background-color: #dec548;
      border: 2px solid #ffffff;
      color: #ffffff;
      border-radius: 0;
      opacity: 0.8;
      padding: 15px 30px;
      font-size: 20px; }
      .header-top-slider__btn:hover, .header-top-slider__btn:active, .header-top-slider__btn:visited {
        color: #ffffff; }

footer {
  color: #ffffff;
  background-color: #4b7db6; }

.footer-nav {
  padding: 15px 0; }
  .footer-nav__section {
    font-size: 38px; }
    .footer-nav__section a {
      color: #a0c8f7; }
  .footer-nav-contacts, .footer-nav-menu {
    padding: 0; }
    .footer-nav-contacts__item, .footer-nav-menu__item {
      display: block;
      list-style: none;
      padding: 0 25px 0 0;
      margin: 0 0 10px 0;
      font-size: 17px; }
      .footer-nav-contacts__item a, .footer-nav-menu__item a {
        color: #ffffff;
        text-decoration: none; }
        .footer-nav-contacts__item a:hover, .footer-nav-contacts__item a:active, .footer-nav-contacts__item a:visited, .footer-nav-menu__item a:hover, .footer-nav-menu__item a:active, .footer-nav-menu__item a:visited {
          color: #ffffff;
          text-decoration: none; }
.footer__description {
  padding: 15px 0;
  border-top: 1px solid #ffffff;
  font-size: 16px;
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
