// template colors
$color_first: #4b7db6;
$color_first_light: rgba(75,125,182,0.7);
$color_second: #fbfbfa;
$color_third: #ffffff;

// colors for text
$color_text_first: #494949;
$color_text_second: $color_first;
$color_text_second: $color_third;